# Python
__pycache__/
*.py[cod]
*$py.class

# ROS 2 & Logs
install/
build/
log/
.pytest_cache/

# IDE
.vscode/
.idea/

# Bag
bag/

# --- Dopisy SAM3 (K. Kaszubski) ---
# Środowisko AI i PyTorch (Cache)
.torch_cache/
*.pth
*.pt
*.onnx

# Ignoruj pliki wideo/obrazy testowe
*.mp4
*.avi
*.png
*.jpg

# Passwords & Tokens:
.env
